<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>회의실 API</title>
    <!-- Embed elements Elements via Web Component -->
    <script src="https://unpkg.com/@stoplight/elements/web-components.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/@stoplight/elements/styles.min.css">
</head>
<body>
<elements-api
        apiDescriptionUrl="api/openapi3.yaml"
        router="hash"
        layout="sidebar"
/>
</body>

<script>
    const onResize = () => {
        const layout = window.innerWidth <= 1200 ? 'stacked' : 'sidebar';
        document.querySelector('elements-api').layout = layout;
    };

    onResize();

    window.addEventListener('resize', onResize);
</script>
</html>
